<!-- 
    Jordyn Kuhn
    CIS 218
    1/30/2024
 -->

 <!--doctype html-->
{% extends "base.html" %}

{% block content %}

<main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">To-Do List</h1>
      <p class="lead">
        <table>
          <tr>
            <th>Thing To Do</th>
            <th>Date</th>
            <th></th>
          </tr>

          {% for todo in todo_list %}
                <tr>
                  <td>{{ todo.text }} </td>
                  <td>{{ todo.complete_by }}</td>
                  <td> <button>Edit</button> <button>Delete</button></li></td> 
                </tr>
            {% endfor %}
  
          </tr>
        </table>
        <ul>
            
        </ul>
        <a href = "{% url 'admin:todos_todo_add' %}"><button >Add To-Do Item</button></a>
    </p>
    </div>
  </main>
{% endblock content %}