<!-- 
    Jordyn Kuhn
    CIS 218
    2/3/2024
 -->

 <!--doctype html-->
 {% extends "base.html" %}

 {% block content %}
 
 <main class="flex-shrink-0">
     <div class="container">
       <h1 class="mt-5">To-Do List</h1>
       <p class="lead">
         <table>
           <tr>
             <th>Thing To Do</th>
             <th>Date</th>
             <th></th>
           </tr>
 
           {% for todo in todo_list %}
                 <tr>
                   <td>{{ todo.text }} </td>
                   <td>{{ todo.complete_by }}</td>
                   <td> 
                    <a href="{% url 'admin:todos_todo_change' todo.pk %}"><button>Edit</button></a> 
                    <a href="{% url 'admin:todos_todo_delete' todo.pk %}"><button>Delete</button></a>
                   </td> 
                 </tr>
             {% endfor %}
   
           </tr>
         </table>
         <ul>
             
         </ul>
         <a href = "{% url 'admin:todos_todo_add' %}"><button >Add To-Do Item</button></a>
     </p>
     </div>
   </main>
 {% endblock content %}